body {
  background-color: #EEEEEE;
}

#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

#header {
  background-color: #66CCFF;
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
}

#content {
  padding: 10px;
  display: incline-flex;
}

#contact {
  width: 210px;
}

#main {
  width: 670px;
}
